@media(max-width: 1024px) {

  #category-name {

    float: left;
    margin-right: 40px;
    display: block;
    text-align: center;
    width: 100%;

  }





}






.read-text {
  font: 1.2em Verdana;
  line-height: 200%;

  h2 {
    color: red;
    padding-left: 60px;
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;

    &:before {
      width: 30px;
      height: 30px;
      background-image: url(../icons/pill.svg);
      background-size: cover;
      position: absolute;
      display: block;
      content: '';
      left: 38px;


    }

  }

  p {
    padding-top: 10px;
  }

  blockquote {
    border: none;
  }

  ul {
    padding: 20px 0px 20px 40px;
    color: red;
    font-size: 1.2em;
    list-style-type: none;

    li {
      line-height: 1.4;
      font-weight: bold;
      position: relative;

      &::before {
        background-image: url(../icons/right-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 24px;
        text-align: center;
        position: absolute;
        left: 0px;
        top: 5px;
        margin-left: -36px;
        content: '';
        width: 24px;
        font-weight: bolder;
      }

    }


  }


  ol {
    padding: 20px 0px 20px 20px;
    margin: 0.5em 0 1.571em 1.9em;
    color: #2E2E2E;
    list-style-type: none;
    z-index: 2;
    counter-reset: point;

    li {
      margin-bottom: 4px;
      line-height: 1.6;
      color: #2E2E2E;
      position: relative;

      &::before {
        margin-bottom: 4px;
        counter-increment: point 1;
        line-height: 1.2;
        height: 24px;
        margin-left: -36px;
        left: 0px;
        width: 24px;
        margin-top: 1px;
        background: @brand-info;
        content: counter(point);
        text-align: center;
        position: absolute;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }

  blockquote {
    padding: 20px 0px 20px 25px;
    background-color: @brand-info;
    color: #fff;
  }
}
@media (max-width: 450px) {

  .read-text h2 {
    font-size: 20px;
  }

}



#category-text p {

  .text-justify;

}
