@import "../bootstraps/bootstrap10";
@import "../template";


.btn {

  .btn-sm {
    padding: 5px 8px;
  }

}

#header {
  margin-top: 55px;
}

#block_top_menu {
  margin-top: 20px;
}

#home-page-tabs {
  margin-top: 10px;
}


#blocknewproducts {

  li {
    list-style-type: none;
    height: 450px;

    .top-block {

    }

  }

}

#cart-link {

  color: @brand-primary;

}

#logo {
}

//@color-primary: #00C2C2;
//@color-primary-active: #F13432;


/*
#block_top_menu {
  .container-fluid {
    background-color: @color-primary;


  }

  a {
    color: #fff;

    &:hover {
      background-color: @color-primary;
      text-decoration: underline;

    }

  }

}
*/

// categories_column_no_images

.list-categories {

  color: #000 !important;

  a {
    color: #000 !important;

  }

  .categories {

    .category {

      font-size: 1.3em;
      padding: 10px 0px;
      border-top: solid 1px #777;

    }

    .category:last-child {

      border-bottom: solid 1px #777;

    }
  }

}

// END categories_column_no_images

.fast-buy {

  .text-info {

    color: #fff;

  }

}
