@import "../bootstraps/bootstrap8";
@import "../template";


#header {
  margin-top: 55px;
}

#block_top_menu {
  margin-top: 20px;
}

#home-page-tabs {
  margin-top: 10px;
}


#blocknewproducts {

  li {
    list-style-type: none;
    height: 450px;

    .top-block {

    }

  }

}

#cart-link {

  color: @brand-primary;

}

#logo {
}


