@import "bootstrap";
@import "template";



#header {
  margin-top: 55px;
}

#block_top_menu {
  margin-top: 20px;
}

#home-page-tabs {
  margin-top: 10px;
}


#blocknewproducts {

  li {
    list-style-type: none;
    height: 450px;

    .top-block {

    }

  }

}

#cart-link {

  color: @brand-primary;

}

#logo {
}

//@color-primary: #00C2C2;
//@color-primary-active: #F13432;


/*
#block_top_menu {
  .container-fluid {
    background-color: @color-primary;


  }

  a {
    color: #fff;

    &:hover {
      background-color: @color-primary;
      text-decoration: underline;

    }

  }

}
*/

.navbar .logo {

  padding: 0;
  display: block;
  width: 158px;
  height: 110px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;

}