#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 220px;
    #sidebar-wrapper {
      width: 220px;
    }
    #page-content-wrapper {
      position: absolute;
      margin-right: -220px;
    }
  }
}
#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  top: 100px;
  width: 0;
  height: 500px;
  max-height: 500px;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  @media (max-width: @screen-xs-max) {
    top: 224px;
  }
}
#sidebar-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 3px;
      background-color: #1c1c1c;
      -webkit-transition: width .2s ease-in;
      -moz-transition: width .2s ease-in;
      -ms-transition: width .2s ease-in;
      transition: width .2s ease-in;
    }
    &:first-child {
      a {
        color: #fff;
        background-color: #1a1a1a;
      }
    }
    &:nth-child(2):before {
      background-color: #ec1b5a;
    }
    &:nth-child(3):before {
      background-color: #79aefe;
    }
    &:nth-child(4):before {
      background-color: #314190;
    }
    &:nth-child(5):before {
      background-color: #279636;
    }
    &:nth-child(6):before {
      background-color: #7d5d81;
    }
    &:nth-child(7):before {
      background-color: #ead24c;
    }
    &:nth-child(8):before {
      background-color: #2d2366;
    }
    &:nth-child(9):before {
      background-color: #35acdf;
    }
    a {
      display: block;
      color: #ddd;
      text-decoration: none;
      padding: 10px 15px 10px 30px;
    }
  }
  & > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
  }
  .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
  }
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.hamburger {

  position: fixed;
  left: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;

  @media (max-width: @screen-xs-max) {
    .text-center;
    &.is-closed {
      &:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
      }

      &:hover {
        &:before {
          opacity: 1;
          display: block;
          -webkit-transform: translate3d(-100px,0,0);
          -webkit-transition: all .35s ease-in-out;
        }
        .hamb-top {
          top: 0;
          -webkit-transition: all .35s ease-in-out;
        }
        .hamb-bottom {
          bottom: 0;
          -webkit-transition: all .35s ease-in-out;
        }
      }
      .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
      }
      .hamb-middle {
        top: 50%;
        margin-top: -2px;
      }
      .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
      }
    }
    &.is-open {
      .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
      }
      .hamb-middle {
        display: none;
      }
      .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
      }
      &:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
      }
      &:hover {
        &:before {
          opacity: 1;
          display: block;
          -webkit-transform: translate3d(-100px,0,0);
          -webkit-transition: all .35s ease-in-out;
        }
      }
    }
  }
  @media (min-width:@screen-xs-max) {
      top: 55px;

  }

  &.is-open:before {


  }

  &.is-closed {


  }
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}


.btn-nav {
  background-color: #fff;
  border: 1px solid #e0e1db;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
  color: #692361;
  cursor: pointer;
  -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
  transition: color 1s;
}
.btn-nav.active {
  color: #692361;
  padding: 2px;
  border-top: 6px solid #692361;
  border-bottom: 6px solid #692361;
  border-left: 0;
  border-right: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
  -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
  -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
  -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
  transition: border 0.3s ease-out, color 0.3s ease 0.5s;
}
.btn-nav.active:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 6px 0;
  border-color: #692361 transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -6px;
  top: 0;
  left: 50%;
}
.btn-nav .glyphicon {
  padding-top: 16px;
  font-size: 22px;
}
.btn-nav.active p {
  margin-bottom: 4px;
}
@media (max-width: 480px) {
  .btn-group {
    display: block !important;
    float: none !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .btn-nav .glyphicon {
    padding-top: 12px;
    font-size: 26px;
  }
}




.dropdown-menu {
  min-width: 767px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}
