@media(max-width: @screen-sm-min) {

  #fast-buy {


    .fio {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .submit {
      margin-top: 10px;
    }

  }


}

#category-video {
  width: 100%;
  height: 490px;

}

@media(max-width: @screen-xs-min) {
  #category-video {
    height: 200px;
  }
}

@media(max-width: @screen-sm-min) {
  #category-video {
    height: 300px;
  }
}

@media(max-width: @screen-md-min) {
  #category-video {
    height: 400px;
  }
}