.f-left {
  float:left!important
}
.f-right {
  float:right!important
}
.clear {
  clear:both!important;
  position:relative!important;
  zoom:1!important;
  height:1px!important;
  overflow:hidden!important
}
.overlay {
  position:fixed!important;
  top:0!important;
  left:0!important;
  width:100%!important;
  height:100%!important;
  background:#000!important;
  opacity:.7!important;
  z-index:30!important;
  display:none
}
.pop-up {
  width:310px!important;
  position:fixed!important;
  top:30%!important;
  left:50%!important;
  z-index:60!important;
  margin-top:76px!important;
  margin-left:-187px!important;
  display:block;
  background:#fff!important;
  padding:32px!important;
  display:none
}
.pop-up a.pop-close {
  display:block;
  position:absolute!important;
  top:12px!important;
  right:14px!important;
  background:url(../images/close.jpg) no-repeat 0 0!important;
  width:15px!important;
  height:15px!important
}
.pop-up-delete {
  width:310px!important;
  position:fixed!important;
  top:30%!important;
  left:50%!important;
  z-index:60!important;
  margin-top:76px!important;
  margin-left:-187px!important;
  display:block;
  background:#fff!important;
  padding:32px!important;
  display:none
}
.pop-up-delete a.pop-close {
  display:block;
  position:absolute!important;
  top:12px!important;
  right:14px!important;
  background:url(../images/close.jpg) no-repeat 0 0!important;
  width:15px!important;
  height:15px!important
}
.add {
  background:url(../images/bag2.jpg) no-repeat 0 0!important;
  padding-left:42px!important;
  font-size:20px!important;
  line-height:30px!important;
  color:#000!important;
  font-weight:700!important;
  margin-bottom:25px!important
}
a.more-buy {
  display:block;
  width:160px!important;
  height:30px!important;
  float:left!important;
  background:#03A9F4!important;
  position:relative!important;
  font-size:14px!important;
  line-height:29px!important;
  color:#fff!important;
  text-align:center!important;
  text-decoration:none!important;
  -moz-border-radius:8px!important;
  -webkit-border-radius:8px!important;
  border-radius:8px!important
}
a:hover.more-buy {
  text-decoration:none!important
}
a.order-btn {
  display:block;
  width:120px!important;
  height:30px!important;
  float:right!important;
  background:red!important;
  position:relative!important;
  font-size:14px!important;
  line-height:29px!important;
  color:#FFF!important;
  text-align:center!important;
  text-decoration:none!important;
  -moz-border-radius:8px!important;
  -webkit-border-radius:8px!important;
  border-radius:8px!important
}
#dialog-confirm {
  display:none
}
.reveal-modal-bg {
  position:fixed;
  height:100%;
  width:100%;
  background:#000;
  background:rgba(0,0,0,.8);
  z-index:100;
  display:none;
  top:0;
  left:0
}
.reveal-modal {
  visibility:hidden;
  top:100px;
  background:#fff;
  position:absolute;
  z-index:101;
  padding:20px
}
.reveal-modal.small {
  width:200px;
  margin-left:-140px
}
.reveal-modal.medium {
  width:400px;
  margin-left:-240px
}
.reveal-modal.large {
  width:600px;
  margin-left:-340px
}
.reveal-modal.xlarge {
  width:800px;
  margin-left:-440px
}
.reveal-modal .close-reveal-modal {
  font-size:40px;
  line-height:.5;
  position:absolute;
  top:8px;
  right:11px;
  color:#aaa;
  text-shadow:0 -1px 1px rbga(0,0,0,.6);
  font-weight:700;
  cursor:pointer
}
.reveal-modal label {
  font-size:14px;
  color:#d21011;
  font-weight:700
}
#dialog-oneclick-messages {
  font-size:18px;
  font-weight:700;
  margin-top:10px;
  text-align:center
}
.error {
  background:#ffd8d8;
  transition:color .2s
}
.info-err {
  color:#d21011;
  font-size:16px;
  font-weight:700;
  text-align:center;
  clear:both
}
.error_inp {
  border:1px solid #D30707!important;
  transition:color .2s
}
.indexx {
  margin-right:8px;
  color:#2F88DA;
  text-decoration:underline
}
.callback-icon {
  width:100%;
  height:180px
}
.callback-icon span {
  margin-top:120px;
  text-align:center;
  font-size:22px;
  width:100%;
  display:inline-block
}
.oneclick-top {
  width:100%;
  height:115px
}
.oneclick-top .ttl {
  display:block;
  font-size:18px;
  text-align:center
}
.oneclick-top .ttl span {
  font-weight:700
}
.ttl_infos {
  font-size:16px
}
.oneclick-good-price {
  color:#C21D1D
}
#callback-success {
  width:100%;
  height:100px
}
#callback-success span {
  margin-top:20px;
  text-align:center;
  font-size:18px;
  color:#d21011;
  font-weight:700;
  width:100%;
  display:inline-block
}
#oneclick-success {
  width:100%;
  height:100px
}
#oneclick-success span {
  margin-top:20px;
  text-align:center;
  font-size:18px;
  color:#d21011;
  font-weight:700;
  width:100%;
  display:inline-block
}
#dialog-callback {
  display:none
}
.callback-input {
  margin-top:5px;
  margin-bottom:20px;
  width:96%;
  border:1px solid #DADADA;
  padding:10px 0;
  padding-left:10px
}
.callback-submit {
  width:100%;
  border:1px solid #d21011;
  background:#d21011;
  color:#eee;
  padding:10px 0;
  cursor:pointer
}
.callback-submit:hover {
  border:1px solid #666;
  background:#555;
  color:#fff
}
.oneclick-input {
  margin-top:5px!important;
  margin-bottom:20px!important;
  width:96%!important;
  border:1px solid #DADADA!important;
  padding:10px 0!important;
  padding-left:10px!important
}
.oneclick-submit {
  width:30%!important;
  border:1px solid #59b4d4!important;
  background:#0078a3!important;
  color:#eee!important;
  padding:3px 0!important;
  border-radius:5px!important;
  margin-left:33%!important;
  cursor:pointer!important
}
.oneclick-submit:hover {
  border:1px solid #666!important;
  background:#555!important;
  color:#fff!important
}
.goods_name {
  font-size:20px!important;
  font-weight:700!important;
  display:block
}
.add_cart {
  display:block;
  max-width:150px;
  height:20px;
  font-size:12px;
  color:#FFF;
  font-weight:700;
  line-height:20px;
  text-decoration:none;
  text-transform:uppercase;
  background:red;
  padding:0 30px 0 10px;
  position:relative;
  top:11px;
  width:35px
}
.add_cart:hover {
  background-color:#39f;
  text-decoration:none;
  cursor:pointer
}
.oneclick-button {
  display:block;
  max-width:150px;
  height:20px;
  font-size:11px;
  color:red;
  font-weight:700;
  line-height:20px;
  text-decoration:none;
  text-transform:uppercase;
  background:#ededed;
  padding:0 30px 0 10px;
  position:relative;
  top:22px;
  width:35px
}
.oneclick-button:hover {
  background-color:#ccc;
  text-decoration:none
}
.oneclick-button-now {
  background:transparent!important;
  padding:0!important
}
.oneclick-button-now:hover {
  background-color:transparent!important
}
.order_form {
  width:100%
}
.order_form tr td.order_name {
  width:50%!important;
  background:#d8f6e6;
  padding:15px 5px!important;
  border:1px solid #a7ecb8
}
.order_form tr th {
  vertical-align:middle;
  padding:5px 10px;
  background:#83d197;
  text-transform:uppercase;
  font-weight:700;
  color:#fff;
  font-size:12px;
  text-align:center;
  position:relative
}
.order_form tr th span {
  height:32px;
  font-size:14px;
  display:inline-block;
  position:absolute;
  left:0;
  top:0;
  padding:5px 10px;
  background-color:#6abb7f
}
.order_form tr th p {
  margin:0
}
.order_form tr td.order_name p {
  clear:none!important
}
.order_form tr td.order_name p strong {
  color:#000!important
}
.order_form tr td.order_name input[type="radio"] {
  float:left!important
}
.form-row .text-inp::-webkit-input-placeholder {
  color:#80a5d6
}
.form-row .text-inp::-moz-placeholder {
  color:#80a5d6
}
.form-row .text-inp:-moz-placeholder {
  color:#80a5d6
}
.form-row .text-inp:-ms-input-placeholder {
  color:#80a5d6
}
.form-row textarea::-webkit-input-placeholder {
  color:#80a5d6
}
.form-row textarea::-moz-placeholder {
  color:#80a5d6
}
.form-row textarea:-moz-placeholder {
  color:#80a5d6
}
.form-row textarea:-ms-input-placeholder {
  color:#80a5d6
}
.form-row .text-inp,.form-row textarea {
  min-width:calc(250px - 10*2px);
  font-size:14px;
  background-color:#d8e5f6;
  border:none;
  padding:7px 10px;
  border-radius:3px;
  outline:none
}
.form-row .text-inp:hover,.form-row textarea:hover {
  background-color:#e0ebfa;
  transition:.1s ease-out
}
.form-row .text-inp:focus,.form-row textarea:focus {
  background-color:#e0ebfa;
  box-shadow:0 0 5px rgba(0,110,255,0.1);
  transition:.01s ease-out
}
.form-row .text-sel {
  width:242px!important
}
.form-row textarea {
  display:inline-block;
  width:230px!important;
  height:100px!important
}
.form-row small {
  margin-left:0!important
}
.payment_row,.order_row {
  cursor:pointer!important
}
.continue_btn {
  cursor:pointer!important;
  display:block;
  text-align:center;
  width:190px;
  font-size:18px;
  color:#fff;
  background-color:#60b475;
  text-decoration:none;
  border-radius:3px;
  padding:10px 15px;
  margin:20px auto;
  transition:.1s ease-out
}
.continue_btn:hover {
  background-color:#83d197;
  color:#fff
}
.continue_btn:active {
  background-color:#53a668;
  transition:.01s ease-out
}
a.order_btn {
  color:#fff;
  padding:0 10px;
  display:block;
  float:left;
  text-transform:uppercase;
  text-decoration:none;
  font-size:20px;
  font-weight:700;
  background:#a20407;
  height:27px;
  line-height:27px
}
a.order_btn:hover {
  opacity:.6
}
.delivery_radio {
  width:15px!important;
  float:left!important;
  margin-right:10px!important
}
.payment_radio {
  width:15px!important;
  float:left!important;
  height:110px!important;
  margin:0 4px 0 10px !important;
  position:relative;
  top:23px
}
.payment_img_cont {
  height:60px!important;
  display:block;
}
.payment_img_cont img {
  max-height:50px!important;
  margin-left:10px!important;
  margin-top:5px!important
}
.payment_div {
  width:calc(50% - 12px)!important;
  height:120px!important;
  background-color:#d8f6e6;
  border:1px solid #a7ecb8!important;
  padding:10px 5px!important;
  position:relative;
  top:-10px;
  float:left!important;
  cursor:pointer!important
}
.payment_div p.system {
  font-size:14px!important;
  text-align:left!important;
  margin-left:10px;
  margin-bottom:0!important
}
.deldescr {
  font-size:11px!important;
  width:calc(100% - 30px)!important;
  display:inline-block!important;
  vertical-align:top
}
.deldescr img {
  margin-left:10px;
  position:relative;
  top:3px
}
.p_price {
  color:#21b162!important;
  font-size:14px!important;
  display:block;
  padding-top:0!important;
  text-align:center;
  margin:0!important
}
.delivery_item {
  margin-bottom:15px!important
}
.delivery_item input[type="radio"] {
  float:left
}
.delivery_item label {
  float:left!important;
  display:block;
  margin-left:10px!important;
  font-weight:700!important
}
.delivery_item p {
  clear:both!important;
  line-height:20px
}
.delivery_item img {

  box-shadow:0 0 0 #7BBBE6!important;
  border-radius:50%!important
}
.delivery_item img:hover {
  box-shadow:0 0 10px #7BBBE6!important;
  transition:.1s ease
}
.order_table {
  clear:both!important;
  padding-top:60px!important;
  border-collapse:collapse!important;
  width:100%!important;
  font-size:14px!important
}
.order_table tr th {
  text-align:center!important;
  background:#83d197!important;
  font-weight:700!important;
  vertical-align:middle!important;
  height:32px!important;
  font-size:14px!important;
  color:#fff!important
}
.order_table tr td {
  border-bottom:1px solid #ebebeb!important;
  text-align:center!important;
  vertical-align:middle!important;
  font-size: 11px;
  padding:0!important
}
.order_table tr td.product_info {
  text-align:left!important;
  width:190px;
  font-size:10px
}
.order_table tr td.product_info img {
  float:left!important
}
.order_table tr td.product_info span.info {
  display:block;
  margin-bottom:10px!important;
  color:#b6080d!important;
  font-weight:700!important
}
.order_table tr td.promo_code {
  height:40px!important
}
.order_table tr td.promo_code input[type=text] {
  font-size:12px;
  color:#21b162;
  text-align:center;
  padding:3px 7px;
  background-color:#d8f6e6;
  border:1px solid #83d197;
  border-radius:3px;
  outline:none;
  transition:.1s ease
}
.order_table tr td.promo_code input[type=text]:hover {
  background-color:#e1faed
}
.order_table tr td.promo_code input[type=text]:focus {
  background-color:#f0fff7
}
.order_table tr td.promo_code input[type=button] {
  font-size:12px;
  background-color:#3fd482;
  padding:3px 7px;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,0.3);
  border:none;
  border-radius:3px;
  cursor:pointer
}
.order_table tr td.promo_code input[type=button]:hover {
  background-color:#4fe492;
  transition:.2s ease-out
}
.order_table tr td.promo_code input[type=button]:active {
  background-color:#35c977;
  transition:.01s ease-out;
  position:relative;
  top:1px
}
.total_block {
  border-bottom:1px solid #ebebeb!important;
  overflow:hidden!important;
  padding:10px!important
}
.total_block label {
  float:left!important;
  font-weight:700!important;
  margin-right:10px!important;
  display:block
}
.total_block input[type="text"] {
  float:left!important;
  padding:0 5px!important;
  margin-right:10px!important;
  height:15px!important;
  line-height:15px!important
}
.total_block input[type="submit"] {
  color:#fff!important;
  padding:0 10px!important;
  border:none!important;
  display:block;
  float:left!important;
  text-transform:uppercase!important;
  text-decoration:none!important;
  font-size:10px!important;
  font-weight:700!important;
  background:#a20407!important;
  height:18px!important;
  line-height:18px!important;
  margin-right:20px!important
}
.total_block p {
  float:right!important;
  margin-right:10px!important;
  font-weight:700!important
}
.total_block p.total {
  color:#21b162!important;
  font-size:20px!important;
  float:right
}
.total {
  color:red!important;
  font-size:14px!important;
  font-weight:700!important
}
#tabs {
  clear:both!important;
  margin-top:20px!important
}
#tabs-1,#tabs-2,#tabs-3 {
  padding:15px 0!important;
  font-size:14px!important;
  color:#333!important
}
#tabs > ul {
  height:42px!important;
  overflow:hidden!important;
  clear:both!important
}
#tabs > ul li {
  float:left!important;
  background:#dcdcdc!important;
  padding:12px 30px!important;
  border:1px solid #fff!important;
  border-left:none!important;
  list-style:none
}
#tabs > ul li:first-child {
  border-left:none!important
}
#tabs > ul li a {
  color:#333!important;
  text-decoration:none!important;
  display:block
}
#tabs > ul li label {
  padding-left:10px!important;
  line-height:15px!important
}
#tabs > ul li:hover,#tabs > ul li.ui-tabs-active {
  background:#c00!important;
  border-bottom:1px solid transparent
}
#tabs > ul li:hover a,#tabs > ul li.ui-tabs-active a {
  color:#fff!important
}
#tabs > ul li input[type="radio"] {
  margin-right:5px!important
}
.order {
  font-family:tahoma!important;
  padding-top:42px!important;
  font-size:12px!important
}
.order p {
  margin-bottom:15px!important
}
.order small {
  font-size:11px!important
}
.order {
  margin-bottom:30px!important
}
.order p {
  color:#000!important;
  font-size:12px!important;
  float:left!important;
  clear:left!important;
  line-height:20px!important
}
.order_link {
  display:block;
  float:left!important;
  border-radius:10px!important;
  text-decoration:underline!important;
  color:#fff!important;
  background:red!important;
  height:30px!important;
  line-height:30px!important;
  padding:0 15px!important
}
.order_item {
  clear:both!important;
  width:580px!important
}
.order_info:first-child {
  border:none
}
.order_info {
  clear:both!important;
  line-height:30px!important;
  border-top:1px solid #cbcbcb!important
}
.order_item p.field_label {
  float:left!important;
  font-weight:700!important;
  width:200px!important
}
.order_item p.field_item {
  float:left!important;
  line-height:30px!important;
  width:300px!important
}
.order_item p.apply {
  color:#79a041!important;
  padding-left:20px!important;
  background:url(../images/apply.png) no-repeat 0 center!important
}
.order_item p.del {
  color:#79a041!important;
  padding-left:20px!important;
  background:url(../images/delete.png) no-repeat 0 center!important
}
.check-row {
  text-align:center;
  margin-bottom:20px
}
.check-item {
  display:inline-block;
  text-align:center!important;
  background:#83d197!important;
  margin:15px 5px 0!important;
  border-radius:3px
}
.check-item a {
  display:block;
  text-decoration:none!important;
  height:41px!important
}
.check-item.current {
  background:#60b475!important
}
.check-item label {
  font-family:tahoma!important;
  color:#fff!important;
  padding:10px!important;
  height:21px!important;
  line-height:21px!important;
  display:block;
  font-size:16px!important
}
.check-item:hover {
  cursor:pointer!important
}
.form-row {
  overflow:hidden!important;
  clear:both!important;
  margin:3px 0!important;
  text-align:center
}
.form-row label {
  width:250px;
  display:inline-block!important;
  font-size:16px!important;
  text-align:right;
  margin:0 15px
}
.form-row.check {
  margin:5px 0 10px!important
}
.form-row.check label {
  overflow:hidden!important;
  padding:0!important
}
.form-row.check c {
  float:left!important;
  margin:1px 3px 0 0 !important
}
.form-row textarea {
  width:230px!important;
  height:100px!important
}
.form-row small {
  font-size:12px!important;
  text-align:center;
  display:block
}
.order_status {
  clear:both!important;
  padding-top:30px!important;
  border-collapse:collapse!important;
  width:650px!important;
  margin-bottom:20px!important
}
.order_status tr th {
  text-align:center!important;
  background:#ebebeb!important;
  font-weight:700!important;
  vertical-align:middle!important;
  height:30px!important
}
.order_status tr td {
  border-bottom:1px solid #ebebeb!important;
  text-align:center!important;
  vertical-align:middle!important;
  height:30px!important;
  padding:0 10px!important
}
.order_status tr td.title_td {
  text-align:left!important
}
.ui-widget {
  font-size:14px!important
}
.cart_table {
  width:100%;
  margin-bottom:30px
}
.cart_table th {
  font-weight:400;
  font-size:13px;
  color:#009eff;
  border-bottom:1px solid #009eff;
  border-top:1px solid #009eff;
  padding:5px 0
}
.cart_table td {
  border-bottom:1px solid #e2e2e2;
  padding:5px 10px;
}
.cart_table td strong {
  font-size:16px;
  color:#333
}
.delivery_table {
  width:100%
}
.badgeZ {
  display:inline-block;
  position:absolute;
  min-width:10px;
  padding:3px 7px;
  font-size:13px;
  font-weight:400;
  color:#fff;
  line-height:1;
  vertical-align:baseline;
  white-space:nowrap;
  text-align:center;
  background-color:#93c54b;
  border-radius:10px;
  top:10px;
  right:-10px
}
#catnav ul li:hover,#catnav_2.secondary ul li:hover {
  position:relative!important
}
.mdlCont {
  background:rgba(0,0,0,.4);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  font-family:Arial!important;
  display:none;
  z-index:11000
}
.mdl {
  width:610px;
  height:290px;
  background:#fff;
  position:absolute;
  left:50%;
  margin-left:-305px;
  top:20%;
  border:5px solid rgba(0,0,0,.5);
  z-index:15000
}
.modalTx1 {
  font-size:19px;
  margin-left:143px;
  margin-top:10px
}
.modalTx2 {
  font-size:19px;
  margin-left:270px
}
.modalTx3 {
  font-size:19px;
  margin-left:214px
}
.modalTx4 {
  font-size:14px;
  margin-left:350px
}
.modalTx5 {
  font-size:14px;
  text-align:center;
  margin-top:10px
}
.mdlclose {
  background:url(../img/mdlclose.png);
  width:22px;
  height:22px;
  position:absolute;
  top:20px;
  right:-18px;
  z-index:17000;
  cursor:pointer
}
.mdlcloseBlack {
  background:url(../img/mdlcloseBlack.png);
  width:22px;
  height:22px;
  position:absolute;
  top:4px;
  right:4px;
  z-index:17000;
  cursor:pointer
}
.mdlRed {
  color:#eb0000
}
.mdlRed .mdlTitle {
  background:url(../img/mdlTopBgRed.jpg) no-repeat top center;
  width:357px;
  height:37px;
  line-height:37px;
  color:#fff;
  margin-top:12px;
  padding-left:255px;
  font-size:30px;
  font-weight:700;
  position:relative
}
.mdlRed .mdlPcode {
  width:200px;
  height:44px;
  line-height:44px;
  background:#ebebeb;
  border:solid 3px #b7b7b7;
  font-size:30px;
  text-align:center;
  font-weight:700;
  color:#eb0000;
  display:block;
  margin:20px auto 0
}
.mdlRed .stripLeft {
  background:url(../img/stripLeftRed.png);
  width:180px;
  height:273px;
  position:absolute;
  top:-30px;
  left:6px;
  z-index:16000
}
.mdlRed .stripRight {
  background:url(../img/stripRightRed.png);
  width:151px;
  height:364px;
  position:absolute;
  top:-31px;
  right:-52px;
  z-index:16000
}
.mdlRed .stripBottom {
  background:url(../img/stripBottomRed.png);
  width:185px;
  height:67px;
  position:absolute;
  bottom:-68px;
  left:240px;
  z-index:16000
}
.mdlRed .mdlSale {
  background:url(../img/mdlSaleRed.png);
  width:162px;
  height:162px;
  position:absolute;
  top:-43px;
  left:-52px;
  z-index:17000
}
.mdlRed .mdlButton {
  display:block;
  margin:0 auto;
  width:313px;
  background:#D04035;
  text-align:center;
  color:#fff;
  padding:6px 0;
  font-weight:700;
  margin-top:8px;
  cursor:pointer
}
.mdlOrange {
  color:#D85D24
}
.mdlOrange .mdlTitle {
  background:url(../img/mdlTopBgOrange.jpg) no-repeat top center;
  width:357px;
  height:37px;
  line-height:37px;
  color:#fff;
  margin-top:12px;
  padding-left:255px;
  font-size:30px;
  font-weight:700;
  position:relative
}
.mdlOrange .mdlPcode {
  width:200px;
  height:44px;
  line-height:44px;
  background:#ebebeb;
  border:solid 3px #b7b7b7;
  font-size:30px;
  text-align:center;
  font-weight:700;
  color:#D85D24;
  display:block;
  margin:20px auto 0
}
.mdlOrange .stripLeft {
  background:url(../img/stripLeftOrange.png);
  width:180px;
  height:273px;
  position:absolute;
  top:-30px;
  left:6px;
  z-index:16000
}
.mdlOrange .stripRight {
  background:url(../img/stripRightOrange.png);
  width:151px;
  height:364px;
  position:absolute;
  top:-31px;
  right:-52px;
  z-index:16000
}
.mdlOrange .stripBottom {
  background:url(../img/stripBottomOrange.png);
  width:185px;
  height:67px;
  position:absolute;
  bottom:-68px;
  left:240px;
  z-index:16000
}
.mdlOrange .mdlSale {
  background:url(../img/mdlSaleOrange.png);
  width:162px;
  height:162px;
  position:absolute;
  top:-43px;
  left:-52px;
  z-index:17000
}
.mdlOrange .mdlButton {
  display:block;
  margin:0 auto;
  width:313px;
  background:#D85D24;
  text-align:center;
  color:#fff;
  padding:6px 0;
  font-weight:700;
  margin-top:8px;
  cursor:pointer
}
.mdlBlue {
  color:#3795D4
}
.mdlBlue .mdlTitle {
  background:url(../img/mdlTopBgBlue.jpg) no-repeat top center;
  width:357px;
  height:37px;
  line-height:37px;
  color:#fff;
  margin-top:12px;
  padding-left:255px;
  font-size:30px;
  font-weight:700;
  position:relative
}
.mdlBlue .mdlPcode {
  width:200px;
  height:44px;
  line-height:44px;
  background:#ebebeb;
  border:solid 3px #b7b7b7;
  font-size:30px;
  text-align:center;
  font-weight:700;
  color:#3795D4;
  display:block;
  margin:20px auto 0
}
.mdlBlue .stripLeft {
  background:url(../img/stripLeftBlue.png);
  width:180px;
  height:273px;
  position:absolute;
  top:-30px;
  left:6px;
  z-index:16000
}
.mdlBlue .stripRight {
  background:url(../img/stripRightBlue.png);
  width:151px;
  height:364px;
  position:absolute;
  top:-31px;
  right:-52px;
  z-index:16000
}
.mdlBlue .stripBottom {
  background:url(../img/stripBottomBlue.png);
  width:185px;
  height:67px;
  position:absolute;
  bottom:-68px;
  left:240px;
  z-index:16000
}
.mdlBlue .mdlSale {
  background:url(../img/mdlSaleBlue.png);
  width:162px;
  height:162px;
  position:absolute;
  top:-43px;
  left:-52px;
  z-index:17000
}
.mdlBlue .mdlButton {
  display:block;
  margin:0 auto;
  width:313px;
  background:#3795D4;
  text-align:center;
  color:#fff;
  padding:6px 0;
  font-weight:700;
  margin-top:8px;
  cursor:pointer
}
.cart_table td {
  height:50px;
  padding:0 1px;
  position:relative
}
.content {
  overflow:visible
}
.cart_table .best {
  border:5px solid red;
  display:block;
  height:50px;
  position:absolute;
  top:-6px;
  left:-3px;
  z-index:2;
  border-radius:4px
}
.cart_table .best:before {
  content:"";
  background:url(../img/profitRed.png) no-repeat top left;
  width:15px;
  height:60px;
  top:-5px;
  left:-18px;
  display:block;
  position:absolute
}
.cart_table .best:after {
  content:"";
  background:url(../img/profitThumbRed.png) no-repeat top left;
  width:33px;
  height:42px;
  position:absolute;
  top:0;
  right:-37px;
  display:block
}
.oneclick-button,.add_cart {
  position:relative;
  z-index:3
}
.mdlContProp {
  background:rgba(0,0,0,.4);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  font-family:Arial!important;
  z-index:30000
}
.mdlPropose {
  width:710px;
  height:550px;
  background:#fff;
  background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(47%,#f6f6f6),color-stop(100%,#ededed));
  background:-webkit-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-o-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-ms-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:linear-gradient(to bottom,#fff 0%,#f6f6f6 47%,#ededed 100%);
  position:absolute;
  left:50%;
  margin-left:-355px;
  top:20%;
  border:5px solid rgba(0,0,0,.5);
  z-index:15000;
  padding:5px
}
.mdlPropose .mdlTitle {
  color:#D50606;
  font-size:20px;
  text-align:center;
  padding:10px 0;
  font-weight:700
}
.mdlPropTx1 {
  font-size:14px;
  text-align:center
}
.mdlPropose #clock {
  text-align:center;
  font-size:30px;
  color:#B50F0F;
  font-weight:700;
  padding:6px 0;
  border:3px solid #B50F0F;
  display:block;
  margin:8px auto 7px;
  width:174px;
  border-radius:30px
}
.propItem {
  padding:5px 0;
  font-size:14px;
  margin-bottom:10px
}
.propItem img {
  float:left;
  margin-right:20px
}
.mdlPropose table {
  background:#FFF5DF;
  text-align:center;
  width:100%
}
.propExit {
  background:#ECAAA7;
  float:left;
  padding:10px 35px;
  border:1px solid #ddd;
  border-radius:4px;
  text-align:center;
  cursor:pointer;
  color:#454545;
  box-shadow:0 0 6px 0 #B3B3B3
}
.propAdd {
  background:#CF443E;
  float:right;
  padding:10px 35px;
  border-radius:4px;
  border:1px solid #FFF;
  text-align:center;
  cursor:pointer;
  color:#fff;
  font-weight:700;
  box-shadow:0 0 6px 0 #B5B5B5;
  text-shadow:1px 1px 1px #545454
}
@media (max-width: 768px) {
  .mdlPropose {
    width:94%;
    height:auto;
    min-height:366px;
    margin-left:0;
    max-height:500px;
    overflow-y:scroll;
    left:0;
    top:5%;
    max-height:500px;
    overflow-y:scroll
  }
  .propExit,.propAdd {
    float:none
  }
}
.mdlContMail {
  background:rgba(0,0,0,.4);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  font-family:Arial!important;
  display:none;
  z-index:5000
}
.mdlMail {
  width:710px;
  height:170px;
  background:#fff;
  background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(47%,#f6f6f6),color-stop(100%,#ededed));
  background:-webkit-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-o-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:-ms-linear-gradient(top,#fff 0%,#f6f6f6 47%,#ededed 100%);
  background:linear-gradient(to bottom,#fff 0%,#f6f6f6 47%,#ededed 100%);
  position:absolute;
  left:50%;
  margin-left:-355px;
  top:20%;
  border:5px solid rgba(0,0,0,.5);
  z-index:15000;
  padding:5px
}
.mdlMail .mdlTitle {
  color:#D50606;
  font-size:20px;
  text-align:center;
  padding:10px 0;
  font-weight:700
}
.mdlMail .mdlEmailTx1 {
  line-height:20px;
  text-align:center;
  font-size:14px
}
.mdlMail input {
  border:2px solid #C3C3C3;
  border-radius:4px;
  font-size:20px;
  padding:4px;
  width:270px;
  margin:20px 0 10px 117px
}
.mdlMail .propAdd {
  margin-top:17px;
  margin-right:108px
}
.mdlMail .ribbonL {
  background:url(../img/pcodeRibbonLeft.png) no-repeat;
  width:132px;
  height:111px;
  position:absolute;
  top:-1px;
  left:-1px
}
.mdlPropose table tr th,.mdlPropose table tr td {
  text-align:center
}
.smallipopHint {
  display:none
}
#smallipop-tour-overlay {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0
}
.smallipop-instance {
  position:absolute;
  display:none;
  top:0;
  left:0;
  background-color:#314b64;
  border:1px solid #0f161e;
  color:#d2dfe7;
  z-index:9999;
  max-width:400px
}
.smallipop-instance font {
  size:11px;
  family:arial
}
.smallipop-instance a {
  color:#98cbea
}
.smallipop-instance .sipContent {
  padding:10px
}
.smallipop-instance .sipArrow,.smallipop-instance .sipArrowBorder {
  position:absolute;
  left:50%;
  height:0;
  width:0
}
.smallipop-instance .sipArrow {
  bottom:-20px;
  margin-left:-10px;
  border:10px solid transparent
}
.smallipop-instance .sipArrowBorder {
  bottom:-24px;
  margin-left:-12px;
  border:12px solid transparent
}
.smallipop-instance.sipAlignLeft .sipArrow {
  margin-left:0;
  left:auto;
  right:20px
}
.smallipop-instance.sipAlignLeft .sipArrowBorder {
  margin-left:0;
  left:auto;
  right:18px
}
.smallipop-instance.sipAlignRight .sipArrow {
  margin-left:0;
  left:20px;
  right:auto
}
.smallipop-instance.sipAlignRight .sipArrowBorder {
  margin-left:0;
  left:18px;
  right:auto
}
.smallipop-instance.sipAlignBottom .sipArrow {
  bottom:auto;
  top:-20px
}
.smallipop-instance.sipAlignBottom .sipArrowBorder {
  bottom:auto;
  top:-24px
}
.smallipop-instance.sipPositionedLeft .sipArrow,.smallipop-instance.sipPositionedLeft .sipArrowBorder {
  right:-16px;
  left:auto;
  top:50%;
  bottom:auto;
  border-width:8px;
  margin:-8px 0 0
}
.smallipop-instance.sipPositionedLeft .sipArrowBorder {
  right:-20px;
  border-width:10px;
  margin:-10px 0 0
}
.smallipop-instance.sipPositionedRight .sipArrow,.smallipop-instance.sipPositionedRight .sipArrowBorder {
  left:-16px;
  right:auto;
  top:50%;
  bottom:auto;
  border-width:8px;
  margin:-8px 0 0
}
.smallipop-instance.sipPositionedRight .sipArrowBorder {
  left:-20px;
  border-width:10px;
  margin:-10px 0 0
}
.smallipop-instance .smallipop-tour-content {
  padding:5px 0;
  min-width:150px
}
.smallipop-instance .smallipop-tour-footer {
  padding-top:5px;
  position:relative;
  overflow:hidden;
  *zoom:1
}
.smallipop-instance .smallipop-tour-progress {
  color:#bbb;
  text-align:center;
  position:absolute;
  left:50%;
  width:80px;
  margin-left:-40px;
  top:8px
}
.smallipop-instance .smallipop-tour-close-icon {
  position:absolute;
  right:-8px;
  top:-8px;
  width:16px;
  height:16px;
  padding-top:0;
  font-size:11px;
  background:#555;
  color:#ccc;
  text-align:center;
  text-shadow:0 -1px 1px #666;
  text-decoration:none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
  box-shadow:0 1px 3px rgba(0,0,0,0.3)
}
.smallipop-instance .smallipop-tour-close-icon:hover {
  text-decoration:none;
  background:#666;
  color:#fff
}
.smallipop-instance .smallipop-tour-prev,.smallipop-instance .smallipop-tour-next,.smallipop-instance .smallipop-tour-close {
  color:#ccc;
  display:block;
  padding:3px 4px 2px;
  line-height:1em;
  float:left;
  background:#203142;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
  box-shadow:0 1px 2px rgba(0,0,0,0.3)
}
.smallipop-instance .smallipop-tour-prev:hover,.smallipop-instance .smallipop-tour-next:hover,.smallipop-instance .smallipop-tour-close:hover {
  color:#fff;
  background:#293e53;
  text-decoration:none
}
.smallipop-instance .smallipop-tour-next,.smallipop-instance .smallipop-tour-close {
  float:right
}
.smallipop-instance.default {
  text-shadow:0 -1px 1px #0f161e;
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  -moz-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  box-shadow:0 2px 6px rgba(0,0,0,0.5);
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  border-radius:12px;
  background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,rgba(49,75,100,0.9)),color-stop(100%,rgba(26,38,52,0.9)));
  background:-webkit-linear-gradient(rgba(49,75,100,0.9),rgba(26,38,52,0.9));
  background:-moz-linear-gradient(rgba(49,75,100,0.9),rgba(26,38,52,0.9));
  background:-o-linear-gradient(rgba(49,75,100,0.9),rgba(26,38,52,0.9));
  background:linear-gradient(rgba(49,75,100,0.9),rgba(26,38,52,0.9));
  background:-webkit-gradient(radial,50% -100px,0,50% -100px,150,color-stop(66.66667%,rgba(49,75,100,0.9)),color-stop(86.66667%,rgba(33,50,66,0.9)),color-stop(100%,rgba(26,38,52,0.9)));
  background:-webkit-radial-gradient(50% -100px,circle contain,rgba(49,75,100,0.9) 100px,rgba(33,50,66,0.9) 130px,rgba(26,38,52,0.9) 150px);
  background:-moz-radial-gradient(50% -100px,circle contain,rgba(49,75,100,0.9) 100px,rgba(33,50,66,0.9) 130px,rgba(26,38,52,0.9) 150px);
  background:-o-radial-gradient(50% -100px,circle contain,rgba(49,75,100,0.9) 100px,rgba(33,50,66,0.9) 130px,rgba(26,38,52,0.9) 150px);
  background:radial-gradient(50% -100px,circle contain,rgba(49,75,100,0.9) 100px,rgba(33,50,66,0.9) 130px,rgba(26,38,52,0.9) 150px)
}
.smallipop-instance.default a {
  text-shadow:0 -1px 1px #0f161e
}
.smallipop-instance.default .sipContent {
  border-top:1px solid #586d82;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  border-radius:12px
}
.smallipop-instance.default .sipArrow {
  border-color:#1a2634 transparent transparent
}
.smallipop-instance.default .sipArrowBorder {
  border-color:#0f161e transparent transparent
}
.smallipop-instance.default.sipAlignBottom .sipArrow {
  border-color:transparent transparent #1a2634
}
.smallipop-instance.default.sipAlignBottom .sipArrowBorder {
  border-color:transparent transparent #0f161e
}
.smallipop-instance.default.sipPositionedLeft .sipArrow {
  border-color:transparent transparent transparent #1a2634
}
.smallipop-instance.default.sipPositionedLeft .sipArrowBorder {
  border-color:transparent transparent transparent #0f161e
}
.smallipop-instance.default.sipPositionedRight .sipArrow {
  border-color:transparent #1a2634 transparent transparent
}
.smallipop-instance.default.sipPositionedRight .sipArrowBorder {
  border-color:transparent #0f161e transparent transparent
}
.cssgradients.rgba .smallipop-instance.default {
  background-color:transparent
}
.smallipop-instance.blue {
  background:transparent;
  color:#111;
  border:10px solid #0064b4;
  border-color:rgba(0,100,180,0.9);
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  -moz-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  box-shadow:0 2px 6px rgba(0,0,0,0.5);
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  -ms-border-radius:7px;
  -o-border-radius:7px;
  border-radius:7px
}
.smallipop-instance.blue a {
  color:#2276aa
}
.smallipop-instance.blue .sipContent {
  border:0;
  background:#fcfcfc
}
.smallipop-instance.blue .sipArrow {
  bottom:-30px;
  border-color:#0064b4 transparent transparent;
  border-color:rgba(0,100,180,0.9) transparent transparent transparent
}
.smallipop-instance.blue.sipAlignBottom .sipArrow {
  top:-30px;
  border-color:transparent transparent #0064b4;
  border-color:transparent transparent rgba(0,100,180,0.9) transparent
}
.smallipop-instance.blue.sipPositionedLeft .sipArrow {
  right:-26px;
  border-color:transparent transparent transparent #0064b4;
  border-color:transparent transparent transparent rgba(0,100,180,0.9)
}
.smallipop-instance.blue.sipPositionedRight .sipArrow {
  left:-26px;
  border-color:transparent #0064b4 transparent transparent;
  border-color:transparent rgba(0,100,180,0.9) transparent transparent
}
.smallipop-instance.blue .smallipop-tour-progress {
  color:#777
}
.smallipop-instance.blue .smallipop-tour-prev,.smallipop-instance.blue .smallipop-tour-next,.smallipop-instance.blue .smallipop-tour-close {
  color:#222;
  background:#efefef
}
.smallipop-instance.blue .smallipop-tour-prev:hover,.smallipop-instance.blue .smallipop-tour-next:hover,.smallipop-instance.blue .smallipop-tour-close:hover {
  color:#111;
  background:#f7f7f7
}
.smallipop-instance.black {
  background-color:#222;
  border-color:#111;
  text-shadow:0 -1px 1px #111;
  color:#f5f5f5;
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  -moz-box-shadow:0 2px 6px rgba(0,0,0,0.5);
  box-shadow:0 2px 6px rgba(0,0,0,0.5);
  background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#333),color-stop(100%,#222));
  background:-webkit-linear-gradient(#333,#222);
  background:-moz-linear-gradient(#333,#222);
  background:-o-linear-gradient(#333,#222);
  background:linear-gradient(#333,#222);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px
}
.smallipop-instance.black a {
  color:#eef8ff;
  text-shadow:0 -1px 1px #111
}
.smallipop-instance.black .sipContent {
  border-top:1px solid #666;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px
}
.smallipop-instance.black .sipArrow {
  border-color:#222 transparent transparent
}
.smallipop-instance.black .sipArrowBorder {
  border-color:#111 transparent transparent
}
.smallipop-instance.black.sipAlignBottom .sipArrow {
  border-color:transparent transparent #222
}
.smallipop-instance.black.sipAlignBottom .sipArrowBorder {
  border-color:transparent transparent #111
}
.smallipop-instance.black.sipPositionedLeft .sipArrow {
  border-color:transparent transparent transparent #222
}
.smallipop-instance.black.sipPositionedLeft .sipArrowBorder {
  border-color:transparent transparent transparent #111
}
.smallipop-instance.black.sipPositionedRight .sipArrow {
  border-color:transparent #222 transparent transparent
}
.smallipop-instance.black.sipPositionedRight .sipArrowBorder {
  border-color:transparent #111 transparent transparent
}
.smallipop-instance.black .smallipop-tour-progress {
  color:#888
}
.smallipop-instance.black .smallipop-tour-prev,.smallipop-instance.black .smallipop-tour-next,.smallipop-instance.black .smallipop-tour-close {
  color:#ccc;
  background:#333
}
.smallipop-instance.black .smallipop-tour-prev:hover,.smallipop-instance.black .smallipop-tour-next:hover,.smallipop-instance.black .smallipop-tour-close:hover {
  color:#fff;
  background:#3a3a3a
}
.cssgradients .smallipop-instance.black {
  background-color:transparent
}
.smallipop-instance.orange {
  border-color:#f2f2f2;
  font-size:14px;
  color:#444;
  background:#fff;
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px
}
.smallipop-instance.orange a {
  color:#145d95;
  text-shadow:0 1px 1px #fff24d
}
.smallipop-instance.orange .sipArrow {
  border-color:#f2f2f2 transparent transparent
}
.smallipop-instance.orange .sipArrowBorder {
  border-color:#fff transparent transparent
}
.smallipop-instance.orange.sipAlignBottom .sipArrowBorder {
  border-color:transparent transparent #f2f2f2
}
.smallipop-instance.orange.sipPositionedLeft .sipArrow {
  border-color:transparent transparent transparent #f9c718
}
.smallipop-instance.orange.sipPositionedLeft .sipArrowBorder {
  border-color:transparent transparent transparent #e17500
}
.smallipop-instance.orange.sipPositionedRight .sipArrow {
  border-color:transparent #f9c718 transparent transparent
}
.smallipop-instance.orange.sipPositionedRight .sipArrowBorder {
  border-color:transparent #e17500 transparent transparent
}
.smallipop-instance.orange .smallipop-tour-progress {
  color:#444
}
.smallipop-instance.orange .smallipop-tour-prev,.smallipop-instance.orange .smallipop-tour-next,.smallipop-instance.orange .smallipop-tour-close {
  color:#444;
  background:#f19f06
}
.smallipop-instance.orange .smallipop-tour-prev:hover,.smallipop-instance.orange .smallipop-tour-next:hover,.smallipop-instance.orange .smallipop-tour-close:hover {
  color:#333;
  background:#f9a509
}
.smallipop-instance.white {
  background-color:#fcfcfc;
  border-color:#ccc;
  text-shadow:0 1px 1px #eee;
  color:#444;
  width:200px;
  max-width:200px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.1);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,0.1);
  box-shadow:0 1px 4px rgba(0,0,0,0.1);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  border-radius:6px
}
.smallipop-instance.white .sipContent {
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  border-radius:6px
}
.smallipop-instance.white .sipArrow {
  border-color:#fcfcfc transparent transparent
}
.smallipop-instance.white .sipArrowBorder {
  border-color:#ccc transparent transparent
}
.smallipop-instance.white.sipAlignBottom .sipArrow {
  border-color:transparent transparent #fcfcfc
}
.smallipop-instance.white.sipAlignBottom .sipArrowBorder {
  border-color:transparent transparent #ccc
}
.smallipop-instance.white.sipPositionedLeft .sipArrow {
  border-color:transparent transparent transparent #fcfcfc
}
.smallipop-instance.white.sipPositionedLeft .sipArrowBorder {
  border-color:transparent transparent transparent #ccc
}
.smallipop-instance.white.sipPositionedRight .sipArrow {
  border-color:transparent #fcfcfc transparent transparent
}
.smallipop-instance.white.sipPositionedRight .sipArrowBorder {
  border-color:transparent #ccc transparent transparent
}
.smallipop-instance.white .smallipop-tour-progress {
  color:#777
}
.smallipop-instance.white .smallipop-tour-close-icon {
  background:#fafafa;
  color:#555;
  text-shadow:0 1px 1px #fff
}
.smallipop-instance.white .smallipop-tour-close-icon:hover {
  background:#f5f5f5;
  color:#222
}
.smallipop-instance.white .smallipop-tour-prev,.smallipop-instance.white .smallipop-tour-next,.smallipop-instance.white .smallipop-tour-close {
  color:#666;
  background:#f0f0f0
}
.smallipop-instance.white .smallipop-tour-prev:hover,.smallipop-instance.white .smallipop-tour-next:hover,.smallipop-instance.white .smallipop-tour-close:hover {
  color:#333;
  background:#f4f4f4
}
.smallipop-instance.whiteTransparent {
  background-color:rgba(255,255,255,0.8)
}
.smallipop-instance.whiteTransparent .sipArrow {
  bottom:-21px;
  border-color:rgba(255,255,255,0.8) transparent transparent
}
.smallipop-instance.whiteTransparent .sipArrowBorder {
  border-color:transparent
}
.smallipop-instance.whiteTransparent.sipAlignBottom .sipArrow {
  top:-21px;
  border-color:transparent transparent rgba(255,255,255,0.8)
}
.smallipop-instance.whiteTransparent.sipPositionedLeft .sipArrow {
  border-color:transparent transparent transparent rgba(255,255,255,0.8)
}
.smallipop-instance.whiteTransparent.sipPositionedRight .sipArrow {
  border-color:transparent rgba(255,255,255,0.8) transparent transparent
}
.smallipop-instance.fatShadow {
  -webkit-box-shadow:0 2px 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 2px 20px rgba(0,0,0,0.8);
  box-shadow:0 2px 20px rgba(0,0,0,0.8)
}
.smallipop-instance.wide {
  max-width:600px
}
@media only screen and (max-width: 670px) {
  .panes .form-row label {
    margin:0 15px 0 0
  }
}
@media only screen and (max-width: 640px) {
  table.cart_table tr th:nth-child(4),table.cart_table tr td:nth-child(4) {
    display:none
  }
  .order_table tr th:nth-child(4) {
    display:none
  }
  .order_table tr td:nth-child(4) {
    display:none
  }
  .how-down {
    display:none
  }
  .order_form tr th {
    font-weight:400
  }
  .payment_div {
    width:calc(100% - 12px)!important;
    height:auto!important
  }
  .deldescr b {
    font-weight:400!important;
    font-size:10px
  }
  .panes .form-row label {
    display:block;
    width:100%;
    text-align:center;
    margin:15px 0 0;
    line-height:14px
  }
  .delete_cart {
    font-size:12px
  }
}
@media only screen and (max-width: 540px) {
  .order_table #tr_promo_code {
    display:none
  }
  .order_table tr td img {
    max-width:30px;
    padding:0 5px
  }
  .order_table tr td.product_info {
    width:auto;
    font-weight:400!important;
    line-height:16px;
    font-size:11px
  }
}
@media only screen and (max-width: 450px) {
  .order_form tr th p {
    text-align:left;
    padding-left:65px
  }
}
.input-err,.error_inp {
  border:red 1px solid!important;
  position:relative;
  background:url(../img/input-err.png) no-repeat right 5px!important
}
.input-complete {
  border:#9ED21A 1px solid!important;
  background:url(../img/input-complete.png) no-repeat right 3px!important
}
