// pages
@import "pages/category";
@import "pages/category-page";


#logo {

  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 90px;
  width: 300px;
  display: flex;
  align-items: center;

  .image {
    width: 80px;
    height: 80px;
    /* float: left; */
    background-image: url(/images/logo.svg);
    background-size: cover;
  }

  .text {
    font-size: 1.2em;
    color: #807fa4;
    margin-left: 2px;
    text-align: center;
    width: 150px;
  }


}



.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}


/* content */
#content {
  min-height: 600px;
}

a.navbar-brand {
  span {
    padding-top: 5px;

  }

}

/* list group */
.list-group a {
  border: 1px solid #DDDDDD;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #DDDDDD;
  text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: '\f053';
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: '\f054';
  font-family: FontAwesome;
}
/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;
  height: 340px;
}
.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-grid .product-thumb .image {
  float: none;
}
@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  font-weight: bold;
}

.product-thumb .btns {

  position: absolute;
  bottom: 11px;
  left: 0px;
  right: 0px;

}

.product-thumb .caption {
  padding: 0 20px;
  min-height: 180px;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #E69500;
}
h2.price {
  margin: 0;
}
.product-thumb .price {
  color: #444;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  border-top: 1px solid #ddd;
  background-color: #eee;
  overflow: auto;
}
.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 60%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails > li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails > img {
  width: 100%;
}
.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left  .product-layout .col-md-3 {
    width: 100%;
  }
  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }
  #column-left + #content + #column-right .product-layout .col-md-3{
    width: 100%;
  }
  #content + #column-right .product-layout .col-md-3{
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
  min-width: 50px;
}

.dl-horizontal.options {

  dt {
    // width: 200px;
    margin-right: 10px;
  }

}

.next-chunk {
  font-size: x-large;
}


.category-option {
  color: #000;

  .name {
    font-size: large;
    line-height: 35px;
  }
  .value {
    line-height: 35px;
  }


}



.bs-callout {
  padding-left: 20px;
}



.categories {
  list-style-type: none;

  .category {

    &:hover {
      background-color: #ccc;
    }

    a .img {
      width: 50px;
      height: 50px;
    }

    a .name {
      margin-top: 18px;
    }


  }

}

.category-block-large {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

// compare ==============================================

.compare {
  color: @brand-success;
  font-size: small;
  cursor: pointer;
  color: #aaa;
  border-bottom: 1px dashed #aaa;


  .icon {
    display: none;
  }

  &:hover {
    text-decoration: none;

    .text {
      color: @brand-success;
      border-bottom: 1px dashed @brand-success;
    }

  }

  &.active {
    color: @brand-success;
    border-bottom: 1px dashed @brand-success;

    .icon {
      display: inline;
    }

  }

}

// ==============================================================



.category-block-large {

  .right-panel {
    margin-top: 10px;

    .option {

      .name {
        font-size: 18px;

      }

      .value {
        font-size: 20px;
        font-weight: bold;

      }


    }

  }

}


#on-cart-name {
  font-weight: bold;
}

#on-cart-name {
  font-weight: bold;

}

#on-cart-price {
  font-weight: bold;
  font-size: large;

  &:after {
    content: " RUB";
  }
}

#on-carl-length {

  font-size: large;

}




#alerts {
  position: fixed;
  top: 0%;
  width: 100%;
  text-align: center;
  font-size: large;
  z-index: 999;
}




.text-primary-inherit {
  color: @brand-primary !important;

  span {
    background-color: @brand-primary !important;
  }
}


#cart-left-info {
  text-align: center;

  .panel {

    .panel-heading {
      background: #fff;
    }

  }

}

.payment {

  padding-top: 20px;
  padding-bottom: 20px;
  height: 145px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }

}

.product-icons-line {
  text-align: center;

  a {
    margin-right: 12px;
    width: 45px;
    height: 45px;

    &:hover:after {
      content: attr(data-help);
    }

  }

  .video {


    background: url('../icons/video-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 20%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {
      background: url('../icons/video.svg');
      background-size: cover;

    }

  }

  .present {

    background: url('../icons/present-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {

      background: url('../icons/present.svg');
      background-size: cover;

    }

  }

  .delivery {

    width: 56px;
    height: 45px;
    background: url('../icons/delivery-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {

      background: url('../icons/delivery.svg');
      background-size: cover;

    }





  }

  .discount {

    background: url('../icons/discount-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      content: attr(data-help);
      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {
      background: url('../icons/discount.svg');
      background-size: cover;

    }

  }


}

.product-icons-line-mini {

  span {
    width: 25px;
    height: 25px;
  }

  .video {


    background: url('../icons/video-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 20%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */

    }

    &.active {
      background: url('../icons/video.svg');
      background-size: cover;

    }
  }

  .present {

    background: url('../icons/present-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {

      background: url('../icons/present.svg');
      background-size: cover;

    }


  }

  .delivery {

    background: url('../icons/delivery-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {
      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {

      background: url('../icons/delivery.svg');
      background-size: cover;

    }

  }

  .discount {

    background: url('../icons/discount-disable.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    &:hover::after {

      position: absolute; /* Абсолютное позиционирование */
      left: 40%; top: 100%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 10px; /* Поля */
      border: 1px solid #333; /* Параметры рамки */
    }

    &.active {
      background: url('../icons/discount.svg');
      background-size: cover;

    }

  }


}


#billing-discount {

  .steps div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

    height: 55px;
    padding-top: 10px;

    color: #fff;


  }

}

.content-copyright {
  text-align: right;
  font: normal 11px/15px Arial;
  height: 15px;
  color: #858f97;


}





@media(min-width: 768px) {
  #nav-affix {

    &.affix {

      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      background-color: #fff;
      z-index: 50;

      #cart-affix {

        display: block;

        ul li a {
          font-size: 14px;

        }

      }

    }

    &.affix-top {

      #cart-affix {

        display: none;

      }
    }

  }
}

@media(max-width: 768px) {
  #nav-affix {

    &.affix {

      display: none;

    }

    &.affix-top {
      display: block;

      #cart-affix {

        display: none;

      }
    }

  }
}

.sidebar {
  font-size: 150%;


  &.affix-top {
    display: block;

  }

  &.affix {
    display: block;
    position: fixed;
    top: 6px;
    width: 270px;
    z-index: 50;
    min-height: 300px;

  }


}



@media(max-width: 768px) {
  .btns .btn-group {
    padding-left: 12px;
    .btn {
      width: 50%;
      height: 40px;
      padding-top: 10px;
    }




  }
}


.head-review {
  
  background-image: url("../images/bg-otzivi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  margin-bottom: 25px;
  padding-left: 56px;
  

}


.product-block-pages {

  padding-top: 5px;
  padding-bottom: 5px;
  height: 70px;



  a {
    font-weight: bolder;

    &:after {

      content: ' | ';
      color: #cccccc;

    }


  }

  a:last-child {

    &:after {
      .hide;

      content: '';
      color: #cccccc;
    }

  }

}

#category-page-body {

  h2 {
    color: red;
  }

  .h2 {
    color: red;
  }

}


































